/* Centrar tablero en la pantalla */
table {
  margin: 0 auto;
}

/* Establecer tama침o de las casillas */
td {
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 50px; /* el valor debe ser el mismo que el alto de la casilla */
}

/* Establecer patr칩n de ajedrez */
.blanco {
  background-color: white;
}

.negro {
  background-color: darkgreen;
}

/* Estilo para el contenedor del formulario */
#form-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

/* Estilo para los elementos del formulario */
.form-element {
  margin-bottom: 20px;
}

/* Estilo para el campo de texto */
.form-element input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el campo de selecci칩n */
.form-element select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: white;
}

/* Estilo para el bot칩n */
.form-element input[type="button"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}
